:root {
  --primary-text-color: #212121; /*основной цвет текста*/
  --text-color: #757575; /*вторичный цвет текста*/
  --accent-color: #2196f3; /*цвет акцент*/
  --black-color: #000000; /*цвет черный*/
  --white-color: #ffffff; /*цвет белый*/
  --footer-bg-color: #2f303a; /*цвет фона футера*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);

  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  outline: 1px solid tomato;
}

/*===============H E A D E R==========*/
.header {
  border-bottom: 1px solid #ececec;
}

.header-section {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-section {
  display: flex;
  align-items: center;
}

/*logo*/
.logo {
  margin-right: 94px;
  color: var(--black-color);
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

/*site-nav*/
.site-nav {
  display: flex;
}

.site-nav a {
  padding-top: 10px;
  padding-bottom: 10px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav .nav-item {
  margin-right: 50px;
}

.site-nav .nav-item:last-child {
  margin-right: 0;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

a.current {
  color: var(--accent-color);
}

/*auth-nav*/
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav a {
  color: var(--text-color);
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.auth-item + .auth-item {
  margin-left: 50px;
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

/*===============H E R O=================*/
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-bg-color);
}
.hero-title {
  margin-bottom: 30px;
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero-button {
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/*===============S E C T I O N=================*/
.section {
  padding: 94px 0;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*SECTION FEATURES*/
.section-features {
  display: flex;
}

.features-item {
  width: 270px;
  margin-right: 30px;
}
.features-item:last-child {
  margin-right: 0;
}
/*невидимый заголовок*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title-features {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-p {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*SECTION WORK*/
.work-list {
  display: flex;
}
.work-item {
  margin-right: 30px;
}

.work-item:last-child {
  margin-right: 0;
}

/*SECTION TEAM*/
.team-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.img-team {
  margin-bottom: 30px;
}

.section-title-team {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.p-team {
  margin-bottom: 30px;
  text-align: center;
}

/*=============F O O T E R=================*/
.footer {
  background-color: var(--footer-bg-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address {
  color: var(--white-color);

  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-list a {
  color: rgba(255, 255, 255, 60%);

  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-list a:hover,
.footer-list a:focus {
  color: var(--accent-color);
}

/*=============P O R T F O L I O======================*/
/*FILTER BUTTON*/
.filter-button {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button-item {
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.filter-button-item:hover,
.filter-button-item:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.active-button {
  color: var(--white-color);
  background-color: var(--accent-color);
}
/*EXAMPLES*/
.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.examples-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}
.examples-list a {
  text-decoration: none;
}

.examples-list img {
  margin-bottom: 20px;
}
.examples-list h2 {
  margin-left: 24px;
  margin-bottom: 4px;
  color: var(--primary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list p {
  margin-left: 24px;
  margin-bottom: 20px;

  color: var(--text-color);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
